<!DOCTYPE html>
<html lang="en">
  {% include "components/head.njk" %}
<body>
  {% include "components/nav.njk" %}
  <header>
    <h1>{{ title }}</h1>
  </header>
  
    <main>
    {% include "components/hero.njk" %}
    {% include "components/about.njk" %}
    {% include "components/events.njk" %}
    {% include "components/impact.njk" %}

    {% include "components/footer.njk" %}
    </main>

</body>
</html>
