    <footer class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <h5>Cycle Together</h5>
            <p>Building a greener, healthier community one pedal at a time.</p>
            <div class="d-flex mt-3">
              <a href="#" class="text-white me-3"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="#" class="text-white me-3"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#" class="text-white me-3"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <h5>Contact Us</h5>
            <address>
              <p class="mb-2">
              </p>
              <p class="mb-2">
                <i class="fas fa-envelope me-2"></i> info@cyclebirstall.org
              </p>
              <p class="mb-2">
                <i class="fas fa-phone me-2"></i> (01924) 123 4567
              </p>
            </address>
          </div>
          <div class="col-md-4">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#about" class="text-white">About</a>
              </li>
              <li class="mb-2">
                <a href="#events" class="text-white">Events</a>
              </li>
              <li class="mb-2"><a href="#" class="text-white">Resources</a></li>
              <li class="mb-2"><a href="#" class="text-white">Partners</a></li>
            </ul>
          </div>
        </div>
        <hr class="my-4 bg-light" />
        <div class="text-center">
          <p class="mb-0">&copy; 2025 Cycle Birstall. All rights reserved.</p>
        </div>
      </div>
    </footer>

    