    <section class="py-5" id="impact">
      <div class="container">
        <h2 class="text-center mb-5">Our Impact</h2>
        <div class="row">
          <div class="col-md-3 mb-4">
            <div class="counter-box">
              <div class="count">100+</div>
              <p class="mb-0">Members</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="counter-box">
              <div class="count">8</div>
              <p class="mb-0">Events Hosted</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="counter-box">
              <div class="count">5,000+</div>
              <p class="mb-0">Miles Cycled</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="counter-box">
              <div class="count">0</div>
              <p class="mb-0">New Bike Lanes!!!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
